@model List<CorsoViewModel> 
    <!--passo la lista che è in corsiviewmodel che si chiama corsoViewModel-->

<h1>Ecco la lista dei corsi</h1>
@*dobbiamo far visualizzare la lista di corsi mischiando codice c# con html*@

<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            @* <th>Descrizione</th>*@
            <th></th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.CorsoCodice.</td>
            <td>@item.Nome.</td>
            @*<td>@item.Descrizione.</td>*@
        <th>
           
                <a  asp-controller="Corsi" asp-action="Details" asp-route-id="@item.CorsoCodice" class="btn btn-primary">Visualizza dettagli</a>
           
        </th>
        </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            @*conta quante righe ci sono*@
            <th>Totale</th>
            <th>@Model.Count</th>
            @*<th></th>*@
            <th></th>
        </tr>
    </tfoot>



</table>

